@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Barlow&family=Bellefair&display=swap");
:root {
  background-color: black;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mobile-menu {
  position: absolute;
  min-height: 100vh;
  top: 0;
  right: 0;
  width: 70vw;
  color: #FFFFFF;
  z-index: 10;
}

@supports ((-webkit-backdrop-filter: blur(81.5485px)) or (backdrop-filter: blur(81.5485px))) {
  .mobile-menu {
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(81.5485px);
    -webkit-backdrop-filter: blur(81.5485px);
  }
}

@supports not ((-webkit-backdrop-filter: blur(81.5485px)) or (backdrop-filter: blur(81.5485px))) {
  .mobile-menu {
    background-color: rgba(0, 0, 0, 0.9);
  }
}

.mobile-menu ul {
  list-style-type: none;
  text-transform: uppercase;
  font-family: "Barlow Condensed";
  padding: 120px 32px;
  text-align: left;
}

.mobile-menu ul li {
  cursor: pointer;
  color: white;
}

.mobile-menu ul li a {
  display: inline-block;
  padding: 16px 0;
  color: white;
  text-decoration: none;
}

.mobile-menu .number {
  font-weight: bold;
  font-style: 16px;
  padding-right: 14px;
}

.mobile-menu .close-icon {
  cursor: pointer;
  position: absolute;
  top: 36px;
  right: 24px;
}

.App {
  background-image: url(../starter-code/assets/home/background-home-mobile.jpg);
  position: relative;
  padding: 20px 28px;
  text-align: center;
  background-size: 100% 100%;
  height: 100%;
  min-height: 100vh;
  font-family: "Barlow";
  -webkit-animation: app-fade 2000ms ease-in;
          animation: app-fade 2000ms ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes app-fade {
  from {
    -webkit-filter: brightness(0%);
            filter: brightness(0%);
  }
  to {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }
}

@keyframes app-fade {
  from {
    -webkit-filter: brightness(0%);
            filter: brightness(0%);
  }
  to {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }
}

.App.destinations {
  background-image: url(../starter-code/assets/destination/background-destination-mobile.jpg);
}

.App.crew {
  background-image: url(../starter-code/assets/crew/background-crew-mobile.jpg);
  overflow-y: hidden;
}

.App.technology {
  padding: 0;
  background-image: url(../starter-code/assets/technology/background-technology-mobile.jpg);
}

.App.technology header {
  padding: 20px 28px 0;
}

h1 {
  font-family: "Bellefair";
  font-weight: 300;
  font-size: 1rem;
}

h2, h3, h4, h5, h6 {
  font-family: "Barlow Condensed";
  font-weight: 300;
}

h2 {
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2.7px;
  margin-top: 1rem;
}

h2 span {
  opacity: 0.25;
  padding-right: .5rem;
}

nav {
  display: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo, header .hamburger {
  cursor: pointer;
}

header .logo {
  scale: 0.8;
}

.Home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading {
  font-family: "Barlow Condensed";
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #D0D6F9;
  padding-top: 48px;
}

.heading .space {
  letter-spacing: 0px;
  font-family: "Bellefair";
  display: block;
  color: #FFFFFF;
  font-size: 80px;
  padding: 1rem 0 1.5rem;
  font-weight: 300;
}

.hero-p {
  color: #FFFFFF;
  line-height: 25px;
  color: #D0D6F9;
  font-size: 15px;
  max-width: 420px;
}

.explore {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Bellefair";
  background-color: white;
  font-size: 20px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 81px;
  text-transform: uppercase;
  text-decoration: none;
}

.explore:hover {
  -webkit-box-shadow: 0px 0px 0px 40px rgba(255, 255, 255, 0.1);
          box-shadow: 0px 0px 0px 40px rgba(255, 255, 255, 0.1);
}

.explore:visited {
  color: black;
}

.Destinations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  padding-bottom: 2.5rem;
}

.destination-flex,
.destination-flex-left
.destination-flex-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.destination-image {
  width: 160px;
  height: 160px;
  background-size: contain;
  margin-top: 1.5rem;
}

.destination-image.Moon {
  background-image: url(../starter-code/assets/destination/image-moon.png);
}

.destination-image.Mars {
  background-image: url(../starter-code/assets/destination/image-mars.png);
}

.destination-image.Europa {
  background-image: url(../starter-code/assets/destination/image-europa.png);
}

.destination-image.Titan {
  background-image: url(../starter-code/assets/destination/image-titan.png);
}

.destinations-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
  font-family: "Barlow Condensed";
  text-transform: uppercase;
  color: #D0D6F9;
  letter-spacing: 2.25px;
  list-style-type: none;
  font-size: .9rem;
  margin-top: 1.75rem;
}

.des-list-checkbox {
  display: none;
}

.des-list-label {
  cursor: pointer;
  padding-bottom: .5rem;
  border-bottom: 3px solid transparent;
}

.des-list-label:hover {
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}

.des-list-checkbox:checked + .des-list-label,
.des-list-checkbox:focus-visible + .des-list-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 3px solid white;
}

.destination-name {
  color: white;
  text-transform: uppercase;
  font-size: 3.5rem;
  margin-top: 1.25rem;
}

.destination-description {
  color: #D0D6F9;
  font-size: .9375rem;
  line-height: 25px;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  max-width: 575px;
}

.destination-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  list-style-type: none;
  gap: 2rem;
  margin-top: 2rem;
}

.destination-stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
}

.destination-stat > small {
  font-size: .875rem;
  color: #D0D6F9;
  font-family: "Barlow Condensed";
  letter-spacing: 2.3625px;
}

.destination-stat > h3 {
  font-family: "Bellefair";
  text-transform: uppercase;
  font-size: 1.75rem;
  padding-top: .75rem;
}

.Crew {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.crew-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.crew-member-photo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 222px;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 1.75rem;
}

.crew-member-photo.douglas-hurley {
  background-image: url(../starter-code/assets/crew/image-douglas-hurley.png);
}

.crew-member-photo.mark-shuttleworth {
  background-image: url(../starter-code/assets/crew/image-mark-shuttleworth.png);
}

.crew-member-photo.anousheh-ansari {
  background-image: url(../starter-code/assets/crew/image-anousheh-ansari.png);
}

.crew-member-photo.victor-glover {
  background-image: url(../starter-code/assets/crew/image-victor-glover.png);
}

.crew-bullets-and-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.crew-bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.5rem;
  gap: 1rem;
  color: white;
  padding-top: .25rem;
  list-style-type: none;
}

.crew-bullets .crew-bullet:hover, .crew-bullets .crew-bullet:focus-visible {
  cursor: pointer;
}

.crew-bullet-checkbox {
  display: none;
}

.crew-bullet-label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  opacity: .17;
}

.crew-bullet-label:hover {
  opacity: 0.5;
}

.crew-bullet-checkbox:checked + .crew-bullet-label {
  opacity: 1;
}

.crew-member-role {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-family: "Bellefair";
  text-transform: uppercase;
  padding: 1rem 0 .5rem;
}

.crew-member-name {
  color: white;
  font-family: "Bellefair";
  font-size: 1.5rem;
  text-transform: uppercase;
}

.crew-member-bio {
  color: #D0D6F9;
  padding: 1.25rem 1rem 5rem;
  line-height: 25px;
}

.tech-image {
  background-size: cover;
  width: 100%;
  height: 25vh;
  margin: 2rem 0 0;
}

.launch-vehicle-photo {
  background-image: url(../starter-code/assets/technology/image-launch-vehicle-landscape.jpg);
}

.spaceport-photo {
  background-image: url(../starter-code/assets/technology/image-spaceport-landscape.jpg);
}

.space-capsule-photo {
  background-image: url(../starter-code/assets/technology/image-space-capsule-landscape.jpg);
}

.tech-toggle-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  padding-top: 2rem;
}

.tech-toggle-button {
  cursor: pointer;
  font-family: "Bellefair";
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.tech-toggle-button:hover {
  border: 1px solid white;
}

.tech-info {
  padding-top: 1.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tech-info > small {
  font-size: .875rem;
  font-family: "Barlow Condensed";
  text-transform: uppercase;
  letter-spacing: 2.3625px;
  color: #D0D6F9;
}

.tech-name {
  color: white;
  font-family: "Bellefair";
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-top: .5rem;
}

.tech-description {
  color: #D0D6F9;
  padding: 20px 24px;
  font-size: .9375rem;
  line-height: 25px;
  padding-bottom: 5rem;
  max-width: 400px;
}

/* TABLET */
@media screen and (min-width: 720px) {
  .App {
    background-image: url(../starter-code/assets/home/background-home-tablet.jpg);
    padding: 2rem 3rem;
  }
  .App.destinations {
    background-image: url(../starter-code/assets/destination/background-destination-tablet.jpg);
  }
  .App.crew {
    background-image: url(../starter-code/assets/crew/background-crew-tablet.jpg);
  }
  .App.technology {
    background-image: url(../starter-code/assets/technology/background-technology-tablet.jpg);
  }
  .App.technology header {
    padding: 2rem 3rem 0;
  }
  .hamburger, .mobile-menu {
    display: none;
  }
  nav {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.05);
  }
  .nav-list {
    padding: 0 3rem;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 3rem;
    font-family: "Barlow Condensed";
    text-transform: uppercase;
  }
  .nav-list .active {
    border-bottom: 2px solid white;
  }
  .nav-list .nav-link {
    display: inline-block;
    color: white;
    text-decoration: none;
    letter-spacing: 2.3625px;
    padding: 2.5rem 0;
  }
  .nav-list .nav-link:hover:not(.active) {
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  }
  .nav-number {
    display: none;
  }
  h2 {
    font-size: 20px;
    padding-top: 2.5rem;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .heading {
    font-size: 20px;
    padding-top: 6rem;
  }
  .heading .space {
    font-size: 150px;
    padding-bottom: .5rem;
  }
  .explore {
    width: 240px;
    height: 240px;
    font-size: 2rem;
    margin-bottom: 90px;
  }
  .explore:hover {
    -webkit-box-shadow: 0px 0px 0px 60px rgba(255, 255, 255, 0.1);
            box-shadow: 0px 0px 0px 60px rgba(255, 255, 255, 0.1);
  }
  .destination-image {
    margin-top: 3rem;
    width: 300px;
    height: 300px;
  }
  .destinations-list {
    gap: 2.25rem;
    margin-top: 3.5rem;
    font-size: 1rem;
  }
  .destination-name {
    font-size: 5rem;
    margin-top: 2rem;
  }
  .destination-description {
    font-size: 1rem;
  }
  .destination-stats {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .App.crew {
    height: 100%;
    padding-bottom: 0;
  }
  .Crew {
    height: 100%;
  }
  .crew-flex {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .crew-bullets-and-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .crew-bullets {
    font-size: 3rem;
  }
  .crew-member-photo {
    height: 400px;
    position: relative;
    bottom: -35px;
    margin-top: 2rem;
  }
  .crew-member-role {
    font-size: 1.5rem;
  }
  .crew-member-name {
    font-size: 2.5rem;
  }
  .crew-member-bio {
    padding: 0;
    max-width: 520px;
  }
  .Technology {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Technology h2 {
    padding-left: 3rem;
  }
  .tech-description {
    font-size: 16px;
    max-width: 500px;
  }
  .tech-name {
    font-size: 40px;
  }
  .tech-image {
    height: 310px;
    background-size: cover;
  }
  .tech-flex {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tech-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* DESKTOP */
@media screen and (min-width: 1350px) {
  .App {
    background-image: url(../starter-code/assets/home/background-home-desktop.jpg);
    position: relative;
  }
  .App.destinations {
    background-image: url(../starter-code/assets/destination/background-destination-desktop.jpg);
  }
  .App.crew {
    background-image: url(../starter-code/assets/crew/background-crew-desktop.jpg);
  }
  .App.technology {
    background-image: url(../starter-code/assets/technology/background-technology-desktop.jpg);
  }
  header {
    top: 0;
  }
  nav {
    position: absolute;
    top: 0;
    right: 0;
  }
  .nav-list {
    gap: 3rem;
    padding-left: 7.7rem;
    padding-right: 10.5rem;
  }
  /* horizontal line (nav) */
  header::before {
    content: '';
    position: absolute;
    background-color: rgba(255, 255, 255, 0.25);
    height: 1px;
    width: 40vw;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: calc(3rem + 5%);
  }
  .nav-number {
    display: inline-block;
    font-weight: bold;
    padding-right: .75rem;
  }
  h2 {
    padding-left: 5%;
  }
  .home-flex {
    width: 82vw;
    max-width: 1800px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    position: absolute;
    bottom: 8vw;
  }
  .home-flex-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
  }
  .hero-p {
    font-size: 18px;
    line-height: 32px;
    max-width: 450px;
  }
  .explore {
    width: 275px;
    height: 275px;
    margin-bottom: 0;
  }
  .explore:hover {
    -webkit-box-shadow: 0px 0px 0px 88px rgba(255, 255, 255, 0.1);
            box-shadow: 0px 0px 0px 88px rgba(255, 255, 255, 0.1);
  }
  h2 {
    font-size: 28px;
    padding-top: 2.5rem;
    -ms-flex-item-align: start;
        align-self: flex-start;
    letter-spacing: 4.725px;
  }
  .destination-flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 157px;
    margin-top: 4rem;
  }
  .destination-flex-left {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .destination-image {
    width: 445px;
    height: 445px;
  }
  .destinations-list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .destination-name {
    text-align: start;
    font-size: 100px;
  }
  .destination-description {
    text-align: start;
    max-width: 450px;
    font-size: 18px;
    line-height: 32px;
  }
  .destination-stats {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .destination-stat {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .crew-flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding: 0 5%;
  }
  .crew-flex > * {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .crew-bullets-and-info {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
  }
  .crew-member-role {
    font-size: 2rem;
    padding: 0;
    margin: 0;
  }
  .crew-member-name {
    font-size: 3.5rem;
    padding: 1rem 0 1.4rem;
  }
  .crew-member-bio {
    font-size: 1.125rem;
    line-height: 32px;
  }
  .crew-bullets {
    padding-top: 5rem;
    font-size: 4rem;
  }
  .crew-member-photo {
    height: 750px;
  }
  .Technology {
    padding: 5%;
    padding-top: 0;
    padding-right: 0;
  }
  .tech-flex {
    padding: 3rem;
    padding-right: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .tech-buttons-and-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .tech-toggle-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tech-toggle-button {
    width: 80px;
    height: 80px;
    font-size: 2rem;
  }
  .tech-image {
    width: 40vw;
    height: 40vw;
    max-width: 600px;
    max-height: 600px;
  }
  .tech-info {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    padding-left: 5vw;
  }
  .tech-name {
    font-size: 3.5rem;
    padding: .75rem 0 1rem;
  }
  h3 {
    font-size: 1rem;
    padding-left: 0;
  }
  .tech-description {
    line-height: 32px;
    font-size: 18px;
    padding: 0;
    max-width: 450px;
  }
  .launch-vehicle-photo {
    background-image: url(../starter-code/assets/technology/image-launch-vehicle-portrait.jpg);
  }
  .spaceport-photo {
    background-image: url(../starter-code/assets/technology/image-spaceport-portrait.jpg);
  }
  .space-capsule-photo {
    background-image: url(../starter-code/assets/technology/image-space-capsule-portrait.jpg);
  }
}
/*# sourceMappingURL=App.css.map */