$clr-dark: #0B0D17;
$clr-light: #D0D6F9;
$white: #FFFFFF;

$font-heading: "Bellefair";
$font-body: "Barlow";
$font-body-condensed: "Barlow Condensed";

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Barlow&family=Bellefair&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-image: url(../starter-code/assets/home/background-home-mobile.jpg);
  position: relative;
  padding: 20px 28px;
  text-align: center;
  background-size: 100% 100%;
  height: 100%;
  min-height: 100vh;
  min-width: 100%;
  font-family: $font-body;
}

.App.destinations {
  background-image: url(../starter-code/assets/destination/background-destination-mobile.jpg);
}

.App.crew {
  background-image: url(../starter-code/assets/crew/background-crew-mobile.jpg);
  overflow-y: hidden;
}

.App.technology {
  padding: 0;
  header {
    padding: 20px 28px 0;
  }
  background-image: url(../starter-code/assets/technology/background-technology-mobile.jpg);
}

h1 {
  font-family: $font-heading;
  font-weight: 300;
}

h2, h3, h4, h5, h6 {
  font-family: $font-body-condensed;
  font-weight: 300;
}

h2 {
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2.7px;
  margin-top: 1rem;
  span {
    opacity: 0.25;
    padding-right: .5rem;
  }
}

nav {
  display: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo, .hamburger {
    cursor: pointer;
  }
  .logo {
    scale: (.8)
  }
}

.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-family: $font-body-condensed;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $clr-light;
  padding-top: 48px;
  .space {
    letter-spacing: 0px;
    font-family: $font-heading;
    display: block;
    color: $white;
    font-size: 80px;
    padding: 1rem 0 1.5rem;
    font-weight: 300;
  }
}

.hero-p {
  color: $white;
  line-height: 25px;
  color: $clr-light;
  font-size: 15px;
  max-width: 420px;
}

.explore {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-heading;
  font-size: 20px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 0;
  margin: 81px auto 0;
  text-transform: uppercase;
  a {
    text-decoration: none;
    color: black;
  }
}

.Destinations {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding-bottom: 2.5rem;
}

.destination-flex,
.destination-flex-left
.destination-flex-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.destination-image {
  width: 160px;
  height: 160px;
  background-size: contain;
  margin-top: 1.5rem;
}

.destination-image.Moon {
  background-image: url(../starter-code/assets/destination/image-moon.png);
}

.destination-image.Mars {
  background-image: url(../starter-code/assets/destination/image-mars.png);
}

.destination-image.Europa {
  background-image: url(../starter-code/assets/destination/image-europa.png);
}

.destination-image.Titan {
  background-image: url(../starter-code/assets/destination/image-titan.png);
}

.destinations-list {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  font-family: $font-body-condensed;
  text-transform: uppercase;
  color: $clr-light;
  letter-spacing: 2.25px;
  list-style-type: none;
  font-size: .9rem;
  margin-top: 1.75rem;
}

.des-list-checkbox {
  display: none;
}

.des-list-label {
  cursor: pointer;
  padding-bottom: .5rem;
  border-bottom: 3px solid transparent;
}

.des-list-checkbox:checked + .des-list-label {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid white;
}

.destination-name {
  color: white;
  text-transform: uppercase;
  font-size: 3.5rem;
  margin-top: 1.25rem;
}

.destination-description {
  color: $clr-light;
  font-size: .9375rem;
  line-height: 25px;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(white, .1);
  max-width: 575px;
}

.destination-stats {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	list-style-type: none;
  gap: 2rem;
  margin-top: 2rem;
}

.destination-stat {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.destination-stat > small {
  font-size: .875rem;
  color: $clr-light;
  font-family: $font-body-condensed;
  letter-spacing: 2.3625px;
}

.destination-stat > h3 {
  font-family: $font-heading;
  text-transform: uppercase;
  font-size: 1.75rem;
  padding-top: .75rem;
}

/* <Crew /> */
.Crew {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.crew-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.crew-member-photo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 222px;
  width: 100%;
  border-bottom: 1px solid rgba(white, .1);
  margin-top: 1.75rem;
  &.douglas-hurley {
    background-image: url(../starter-code/assets/crew/image-douglas-hurley.png);
  }
  &.mark-shuttleworth {
    background-image: url(../starter-code/assets/crew/image-mark-shuttleworth.png);
  }
  &.anousheh-ansari {
    background-image: url(../starter-code/assets/crew/image-anousheh-ansari.png);
  }
  &.victor-glover {
    background-image: url(../starter-code/assets/crew/image-victor-glover.png);
  }
}

.bullets-and-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bullets {
  display: flex;
  font-size: 2.5rem;
  gap: 1rem;
  color: white;
  padding-top: .25rem;
  .bullet:hover, .bullet:focus-visible {
    cursor: pointer;
  }
}

.crew-member-role {
  color: rgba(white, 0.5);
  font-size: 1rem;
  font-family: $font-heading;
  text-transform: uppercase;
  padding: 1rem 0 .5rem;
}

.crew-member-name {
  color: white;
  font-family: $font-heading;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.crew-member-bio {
  color: $clr-light;
  padding: 1.25rem 1rem 5rem;
  line-height: 25px;
}

.tech-image {
  background-size: cover;
  width: 100%;
  height: 25vh;
  margin: 2rem 0 0;
}
.launch-vehicle-photo {
  background-image: url(../starter-code/assets/technology/image-launch-vehicle-landscape.jpg);
}
.spaceport-photo {
  background-image: url(../starter-code/assets/technology/image-spaceport-landscape.jpg);
}
.space-capsule-photo {
  background-image: url(../starter-code/assets/technology/image-space-capsule-landscape.jpg);
}
.tech-toggle-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-top: 2rem;
}
.tech-toggle-button {
  cursor: pointer;
  font-family: $font-heading;
  border: 1px solid rgba(white, .3);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: white;
}
.tech-info {
  padding-top: 1.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tech-info > small {
  font-size: .875rem;
  font-family: $font-body-condensed;
  text-transform: uppercase;
  letter-spacing: 2.3625px;
  color: $clr-light;
}
.tech-name {
  color: white;
  font-family: $font-heading;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-top: .5rem;
}
.tech-description {
  color: $clr-light;
  padding: 20px 24px;
  font-size: .9375rem;
  line-height: 25px;
  padding-bottom: 5rem;
  max-width: 400px;
}

.mobile-menu {
  position: absolute;
  min-height: 100vh;
  top: 0;
  right: 0;
  width: 70vw;
  color: $white;
  z-index: 10;
  @supports (backdrop-filter: blur(81.5485px)) {
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(81.5485px);
    -webkit-backdrop-filter: blur(81.5485px);
  }
  @supports not (backdrop-filter: blur(81.5485px)) {
    background-color: rgba(0, 0, 0, .9);
  }
  
  ul {
    list-style-type: none;
    text-transform: uppercase;
    font-family: $font-body-condensed;
    padding: 120px 32px;
    text-align: left;
    li {
      cursor: pointer;
      color: white;
      a {
        display: inline-block;
        padding: 16px 0;
        color: white;
        text-decoration: none;
      }
    }
  }
  .number {
    font-weight: bold;
    font-style: 16px;
    padding-right: 14px;
  }
  .close-icon {
    cursor: pointer;
    position: absolute;
    top: 36px;
    right: 24px;
  }
} // end mobile menu

/* TABLET */

@media screen and (min-width: 720px) {
  .App {
    background-image: url(../starter-code/assets/home/background-home-tablet.jpg);
    padding: 2rem 3rem;
  }

  .App.destinations {
    background-image: url(../starter-code/assets/destination/background-destination-tablet.jpg);
  }

  .App.crew {
    background-image: url(../starter-code/assets/crew/background-crew-tablet.jpg);
  }

  .App.technology {
    background-image: url(../starter-code/assets/technology/background-technology-tablet.jpg);
  }

  .hamburger, .mobile-menu {
    display: none;
  }

  nav {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, .05);
  }

  .nav-list {
    padding: 0 3rem;
    list-style-type: none;
    display: flex;
    gap: 3rem;
    font-family: $font-body-condensed;
    text-transform: uppercase;
    .nav-link {
      display: inline-block;
      color: white;
      text-decoration: none;
      letter-spacing: 2.3625px;
      padding: 2.5rem 0;
    }
  }

  .nav-number {
    display: none;
  }

  h2 {
    font-size: 20px;
    padding-top: 2.5rem;
    align-self: flex-start;
  }

  .heading {
    font-size: 20px;
    padding-top: 6rem;
    .space {
      font-size: 150px;
      padding-bottom: .5rem;
    }
  }

  .explore {
    width: 240px;
    height: 240px;
    font-size: 2rem;
  }

  /* <Destination /> */
  .destination-image {
    margin-top: 3rem;
    width: 300px;
    height: 300px;
  }
  .destinations-list {
    gap: 2.25rem;
    margin-top: 3.5rem;
    font-size: 1rem;
  }
  .destination-name {
    font-size: 5rem;
    margin-top: 2rem;
  }
  .destination-description {
    font-size: 1rem;
  }
  .destination-stats {
    flex-direction: row;
    gap: 5rem;
    justify-content: center;
  }

  /* <Crew /> */
  .App.crew {
    height: 100%;
    padding-bottom: 0;
  }
  .Crew {
    height: 100%;
  }
  .crew-flex {
    width: 100%;
    flex: 1;
    flex-direction: column-reverse;
    justify-content: flex-end;
  }

  .bullets-and-info {
    flex-direction: column-reverse;
  }
  .bullets {
    font-size: 3rem;
  }
  .crew-member-photo {
    height: 400px;
    position: relative;
    bottom: -35px;
    margin-top: 2rem;
  }
  .crew-member-role {
    font-size: 1.5rem;
  }
  .crew-member-name {
    font-size: 2.5rem;
  }
  .crew-member-bio {
    padding: 0;
    max-width: 520px;
  }
  /* <Technology /> */
  .Technology {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      padding-left: 3rem;
    }
  }
  .tech-description {
    font-size: 16px;
    max-width: 500px;
  }
  .tech-name {
    font-size: 40px;
  }
  .tech-image {
    height: 310px;
    background-size: cover;
  }
  .tech-flex {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .tech-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
} /* end tablet media query */

/* DESKTOP */
@media screen and (min-width: 1350px) {
  .App {
    background-image: url(../starter-code/assets/home/background-home-desktop.jpg);
    position: relative;
  }
  .App.destinations {
    background-image: url(../starter-code/assets/destination/background-destination-desktop.jpg);
  }
  .App.crew {
    background-image: url(../starter-code/assets/crew/background-crew-desktop.jpg);
  }
  .App.technology {
    background-image: url(../starter-code/assets/technology/background-technology-desktop.jpg);
  }

  header {
    top: 0;
  }
  nav {
    position: absolute;
    top: 0;
    right: 0;
  }
  .nav-list {
    gap: 3rem;
    padding-left: 7.7rem;
    padding-right: 10.5rem;
  }

  /* horizontal line (nav) */
  header::before {
    content: '';
    position: absolute;
    background-color:rgba(255, 255, 255, .25);
    height: 1px;
    width: 40vw;
    transform: translateY(-50%);
    left: calc(3rem + 5%);
  }

  .nav-number {
    display: inline-block;
    font-weight: bold;
    padding-right: .75rem;
  }

  h2 {
    padding-left: 5%;
  }
/* home page */

  .home-flex {
    width: 82vw;
    max-width: 1800px;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 auto;
    position: absolute;
    bottom: 8vw;
  }
  .home-flex-left {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  .hero-p {
    font-size: 18px;
    line-height: 32px;
    max-width: 450px;
  }

  .explore {
    width: 275px;
    height: 275px;
  }

  h2 {
    font-size: 28px;
    padding-top: 2.5rem;
    align-self: flex-start;
    letter-spacing: 4.725px;
  }

  .destination-flex {
    flex-direction: row;
    gap: 157px;
    margin-top: 4rem;
  }
  .destination-flex-left {
    align-items: flex-start;
  }
  .destination-image {
    width: 445px;
    height: 445px;
  }
  .destinations-list {
    justify-content: flex-start;
  }
  .destination-name {
    text-align: start;
    font-size: 100px;
  }
  .destination-description {
    text-align: start;
    max-width: 450px;
    font-size: 18px;
    line-height: 32px;
  }
  .destination-stats {
    justify-content: flex-start;
  }

  .destination-stat {
    align-items: flex-start;
  }

  /* <Crew /> */
  .crew-flex {
    flex-direction: row-reverse;
    padding: 0 5%;
  }
  .crew-flex > * {
    flex: 1;
  }
  .bullets-and-info {
    align-items: flex-start;
    text-align: left;
  }
  .crew-member-role {
    font-size: 2rem;
    padding: 0;
    margin: 0;
  }
  .crew-member-name {
    font-size: 3.5rem;
    padding: 1rem 0 1.4rem;
  }
  .crew-member-bio {
    font-size: 1.125rem;
    line-height: 32px;
  }
  .bullets {
    padding-top: 5rem;
    font-size: 4rem;
  }
  .crew-member-photo {
    height: 750px;
  }

  /* <Technology /> */
  .Technology {
    padding: 5%;
    padding-top: 0;
    padding-right: 0;
  }
  .tech-flex {
    padding: 3rem;
    padding-right: 0;
    flex-direction: row-reverse;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .tech-buttons-and-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .tech-toggle-buttons {
    flex-direction: column;
  }
  .tech-toggle-button {
    width: 80px;
    height: 80px;
    font-size: 2rem;
  }
  .tech-image {
    width: 40vw;
    height: 40vw;
    max-width: 600px;
    max-height: 600px;
  }
  .tech-info {
    align-items: flex-start;
    text-align: left;
    padding-left: 5vw;
  }
  .tech-name {
    font-size: 3.5rem;
    padding: .75rem 0 1rem;
  }
  h3 {
    font-size: 1rem;
    padding-left: 0;
  }
  .tech-description {
    line-height: 32px;
    font-size: 18px;
    padding: 0;
    max-width: 450px;
  }
  .launch-vehicle-photo {
    background-image: url(../starter-code/assets/technology/image-launch-vehicle-portrait.jpg);
  }
  .spaceport-photo {
    background-image: url(../starter-code/assets/technology/image-spaceport-portrait.jpg);
  }
  .space-capsule-photo {
    background-image: url(../starter-code/assets/technology/image-space-capsule-portrait.jpg);
  }
}